#lorem{
    background-color: lime;
    font-style: italic;
    color: purple;
}
 { margin: o;
color: aqua;
background-color: bisque; }
#box {
    width: 200px;
    height: 100px;
  *  border: 10px solid rgb(150, 255, 20);
    padding: 2px;
    margin: 15px;
    background-color: lightgray;
    text-align: 
    center;
}
